<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>Some Timeline Animations</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
        <style>
        #canvascolours > span {
            position: relative;
            display: inline-block;
        }
        #canvascolours > .color-btn {
            width: 20px;
            height: 20px;
        }
        .color-btn.active {
            border: 1px solid black;
        }
        #canvascolours input[type='range'] {
            margin-top: 20px;
            width: 90%;
        }
        input[type='range'].vertical {
            -webkit-transform:rotate(90deg);
            -moz-transform:rotate(90deg);
            -o-transform:rotate(90deg);
            -ms-transform:rotate(90deg);
            transform:rotate(90deg);
        }
        .estimate {
            color: #00a8e2;
            font-weight: bold;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <p>Volume estimate <span class="estimate volume_estimate">0.0</span>. Volume submerged <span class="estimate volume_submerged">0.0</span>, Total Energy <span class="estimate total_energy">0.0</span>.</p>
            </div>
            <div class="row" id="canvaswrapper">
                <div class="col-xs-1" id="canvascolours">
                    <!-- densities for wood: http://www.csudh.edu/oliver/chemdata/woods.htm -->
                    <span class="color-btn" style="background-color: black;" data-density="0.454"></span>
                    <span class="color-btn" style="background-color: red;" data-density="0.454"></span>
                    <span class="color-btn" style="background-color: orange;" data-density="0.454"></span>
                    <span class="color-btn" style="background-color:#bb9066;" data-density="0.454"></span>
                    <span class="color-btn" style="background-color:#bcc2d1;" data-density="2.70"></span>
                    <span class="color-btn" style="background-color: yellow;" data-density="0.454"></span>
                    <span class="color-btn" style="background-color: green;" data-density="0.454"></span>
                    <span class="color-btn" style="background-color: blue;" data-density="0.454"></span>
                    <span class="color-btn" style="background-color: rgb(75, 0, 130);" data-density="0.454"></span>
                    <span class="color-btn" style="background-color: rgb(238, 130, 238);" data-density="0.454"></span>
                    <span class="color-btn" style="background-color: white;" data-density="0.454"></span>
                    <button class="btn btn-default undo-btn" disabled>
                        Undo
                    </button>
                    <button class="btn btn-default redo-btn" disabled>
                        Redo
                    </button>
                    <input type='range'
                           min="0.01"
                           max="100.0"
                           value="3.0"
                           class="width_slider" />
                </div>
                <div class="col-xs-11" id="canvas"></div>
            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

        <script src="raphael.js" type="text/javascript" charset="utf-8"></script>

        <script src="archimedes.js" type="text/javascript" charset="utf-8"></script>
    </body>

</html>
