            * {
                font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
            }

            body, html {
                background: rgb(30,31,30);
                height: 100%;
                padding: 0px;
                margin: 0px;

            }

            #canvas {
                background: rgb(30,31,30);
                width: 100%;
                height: 100%;
                position: static;
                margin: 0px;
                padding: 0px;
                /*margin-top: 50px;*/
            }

            #webmaster {
                margin-top: 30px;
                padding-bottom: 30px;
                display: block;
                text-align: center;
                position: absolute;
                width: 100%;
                bottom: 0px;
                font: 14px Lucida Grande, sans-serif;
                color: rgb(200,210,200);
            }
            #webmaster a {
                display: inline-block;
                text-decoration: none;
                color: white;
            }

            #topbar{
                width: 30px !important;
                position: absolute;
                left: 100px;
            }

            #namebox,  #fancybox-title-inside, #namebox input{
            font-size: 14px;
            color: #333;
            }
            #namebox input{
                width: 100px;
            }
            #namebox{
                text-align: center;
                line-height: 300%;
                width: 300px;
            }
            .usersignintitle{
                font-size: 18px;
                color: black;
                font-weight: bold;
            }

            .userid{
                color: black;
                font-weight: bold;
            }

            .txtpurple{
                color: rgb(171, 129, 255);
            }

            text{
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }